body
{
  font-family: 'BebasNeueRegular', sans-serif;
  background-color:#F6FBFF;
  max-width: 100%;
  height: auto;
  background-repeat:no-repeat ;
  background-size:cover;

}
.together{
  display: inline-block;
  position: relative;

}

h1{
  position: :relative;
  padding-top: 5%;
  font-size: 75;
  font-weight:50%;
  font: Lorem;
  font-style: italic;
  text-transform: uppercase;
  margin-top:5%;
  text-align:center;
  color:transparent;
  background-image: url("text_back.jpeg");
  background-size: 100% 100%;
  -webkit-background-clip:text;
  
  }
h1::before
{
  content: "";
  position: absolute;
  left: 50%;
  right:95%;
  bottom: 62%;
  width: 90%;
  height: 5%;
  transform: skew(-30deg) translateX(-50%); 
  background: #FEB845;opacity:0.8;
  z-index: -1;
}
.info
{
  line-height: 0px;
  padding-top:5%;
  vertical-align: bottom;
  font-family: 'BebasNeueRegular', sans-serif;
  text-align:right;
  color:#7794F9;
}
.repl
{
  postion:relative;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  height: auto;
  weight:auto;
  margin:1%;
}
h2:not(:first-of-type)
{
  margin-bottom:2%;
  margin-top: 6%;
}
.T
{
  display: inline-block;
  vertical-align: top;
  margin-top: 2%;
  letter-spacing: 2px;  
  line-height: 140%;
  max-height: 180%;
  width:40%;
  border-radius: 40px;
  margin-right:10%;
  text-align: center;
  background-color: #CBD3EC;
  font-size:150%;
  font:Lorem;
  margin-left: 4%;
  padding-block: 1%;
  text-align: center;
  margin-bottom: 5%;
  float:left;
}
.nastya
{
  float:right;
  vertical-align:top;
  display:inline-block;
  height:99%;
  max-width:45%;
  margin-top: 2%;

  border-radius: 20px;
  margin-bottom: 5%;
}
#MyS
{
  padding-left:7%;
  padding-right: 7%;
  text-align: :justify;
  text-justify: inter-character;
}
h2
{
  line-height: 50px;
  color:hotpink;
  text-transform: uppercase;
}




/* Container for skill bars */
.container {
  display:inline-table;
  border-radius: 50px;
  width: 400px; /* Full width */
  background-color: #ddd; /* Grey background */
}
@keyframes load{
  from 
  {
    width: 0%
  }
}

@-webkit-keyframes load
{
  from 
  {
    width: 0%
  }
}
@-moz-keyframes load
{
  from 
  {
    width: 0%
  }
}

@-o-keyframes load{
  from {
    width: 0%
  }
}
div.first4{
padding-left:100px;
  display:inline-block;
  margin-bottom: 40px;
}
div.second4{
  vertical-align: top;

  padding-left: 15%;
  display:inline-block;
  margin-bottom: 40px;
}
.skills {
  border-radius: 50px;
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}


.C {width: 70%; background-color: #0823A9;  } /* black */
.Cpp {width: 80%; background-color:#3E08A9;} /* yellow */
.JS {width: 65%; background-color: #8E08A9;} /* green */
.Python {width: 95%; background-color: #A90874;} /* blue */
.HTML {width: 70%; background-color: #0823A9 ;} /* black */
.CSS{width: 80%; background-color: #3E08A9;} /* yellow */
.Swift {width: 60%; background-color: #8E08A9;} /* green */
.OOP {width: 75%; background-color: #A90874;} /* Blue */



.work{
  background-color: #CBD3EC;
  padding-block: 20px;
  letter-spacing: 2px;  
  line-height: 40px;
  heigh:60%;
  width:60%;
  border-radius: 40px;
  margin-right:10%;
  text-align: center;
  font-size: 20px;
  font:Lorem;
  padding-block: 20px;
  border-width: 10px;
  margin-left:22%;
  margin-top: 5%;


}
.work2{
  background-color: #CBD3EC;

  letter-spacing: 2px;  
  line-height: 40px;
  heig:800px;
  width:90%;
  border-radius: 40px;

  text-align: center;
  font-size: 20px;
  font:Lorem;
  padding-block: 20px;
  border-width: 10px;

  margin-top: 5%;
}

.carousel 
{
    margin-top:8%;
    margin-left: 25%;
    margin-right: 15%;
}
.Secondcarousel
{
    margin-top: 8%;
    margin-left: 25%;
    margin-right: 15%;
}

ul.slides {
    border-radius: 50px;
    display: block;
    position: relative;
    height: 70%;
    width:90%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.slides * {
  border-radius: 50px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none; 
}


.slide-container { 
    display: block; 
}

.slide-image {
    border-radius: 50px;
    display: block;
    position: absolute;
    width: 100%;
    height: 90%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}   

.slide-image img {
    border-radius: 50px;
    width: auto;
    max-width: 100%;
    height: 100%;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: #fff;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    margin: 10px;
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
     display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
  opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }



.a{
  border-radius: 40px;
  margin-top: 6px;
  margin-left: 10%;
  display:inline-block;
  margin-bottom: 50px;

}

.b{
  border-radius: 20px;
  margin-top: 50px;
  margin-left: 10%;
  display:inline-block;
  margin-bottom: 50px;
  
}


img{
  border-radius: 40px;
}
video{
  height:60%;
  width:60%;
  border-radius: 50px;
  margin-top: 50px;
  margin-left: 25%;
  padding-block: 1%;
}

.part3
{
  margin-top:100px;
}
h2{
  font-size: 40px;
  margin-top: :10%;
  margin-bottom: 5%;
  margin-left:5%;
}
h3{
  margin-top: 10%;
  margin-left:25%;
}
.link_class
{
  padding-left: 5px;
  padding-right: 10px;
  border-radius: 10px;
  padding-block: 30px;
  background-color:#E4E7FD ;.opacity:0.1;
  color:#FEB845;;
  letter-spacing: 2px;  
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  font-style: italic;
  font:Lorem;
  text-shadow: 1px 1px 1px darkblue;
}
.header1{
  margin-top:80px;
}
.dashed
{
  margin-top:80px;
  border-top:3px dashed #bbbbbb;
}
.i

{
  margin-left:30px;
  margin-top: 60px;
}
p{
  padding-left:7%;
  padding-right: 7%;
}
h5{

  line-height: 0px;
  padding-top:50px;
  vertical-align: bottom;
  font-family: 'BebasNeueRegular', sans-serif;
  text-align:right;
  color:#7794F9;
}
.last{
   border-color:#FEB845 ;
  border-width: 10px;
  border-bottom-style:solid ;
  margin-top:100px;

}
