body
{

  font-family:'Roboto', sans-serif;
  background-color:#F6FBFF;
  max-width: 100%;
  height: auto;
  background-repeat:no-repeat ;
  background-size:cover;

}

h1{
  width:100%;
  position: :relative;
  padding-top: 5%;
  font-size: 340%;
  font-family:'Roboto', sans-serif;
  font-style: italic;
  text-transform: uppercase;
  margin-top:5%;
  margin-left: 0%;
  margin-right: 5%;
  text-align:center;
  color:transparent;
  background-image: url("text_back.jpeg");
  background-size: 70% 70%;
  -webkit-background-clip:text;
  
  }
h1::before
{
  content: "";
  position: absolute;
  left: 50%;
  right:95%;
  bottom: 62%;
  width: 90%;
  height: 5%;
  transform: skew(-30deg) translateX(-50%); 
  background: #FEB845;
  margin-top:5%;
  margin-bottom:15%;
  z-index: -1;
}
.info
{
  font-size: 12px;
  line-height: 0px;
  padding-top:5%;
  vertical-align: bottom;
  font-family:'Roboto', sans-serif;
  text-align:right;
  color:#7794F9;
  margin-bottom: 15%;

}
.repl
{
  postion:relative;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  height: auto;
  weight:auto;
  margin:1%;
}
h2:not(:first-of-type)
{
  margin-bottom:2%;
  margin-top: 6%;
}


.col-m-3
{

  width:50%;
  max-height:700%;
  display:grid;
  float:right;
  }

  .nastya
  {
    width:100%;
    height:100%;
  }

.col-m-4
{
    width:45%;
  max-height:700%;
  display:grid;
  float:left;
}

#about
{ 
  margin-top: 15%;
  margin-bottom: 10%;
  font-size: 75%;
  line-height: 10%;
  color:hotpink;
}
.T{
  max-height:50%;

}
  #MyS
  {

    font-size: 10%;
    letter-spacing: 2px;
    line-height: 130%;
   
  }
.row-2
{
  display:grid;
}

h2
{
  margin-bottom: 5%;
  line-height: 70px;
  color:hotpink;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) 
{
    h1{
      letter-spacing: 3px;
    width:100%;
    position: :relative;
    padding-top: 2%;
    font-size: 550%;
    font-weight:45%;
    font-family:'Roboto', sans-serif;
    font-style: italic;
    text-transform: uppercase;
    margin-top:5%;
    margin-left: 0%;
    margin-right: 5%;
    text-align:center;
    color:transparent;
    background-image: url("text_back.jpeg");
    background-size: 70% 70%;
    -webkit-background-clip:text;
    
    }
  h1::before
  {
    content: "";
    position: absolute;
    left: 50%;
    right:95%;
    bottom: 57%;
    width: 90%;
    height: 5%;
    transform: skew(-30deg) translateX(-50%); 
    background: #FEB845;
    margin-top:5%;
    margin-bottom:5%;
    z-index: -1;
  }
  .info
  {
    font-size: 20px;
    line-height: 0px;
    padding-top:5%;
    vertical-align: bottom;
    font-family: 'BebasNeueRegular', sans-serif;
    text-align:right;
    color:#7794F9;
    margin-bottom: 5%;
    margin-right: 5%;
      }

  p#MyS
  {
    background-color: transparent;
    margin-left: 15%;
    padding-left: 0;
    height:100%;
    width:70%;
    line-height: 150%;
    font-size: 110%;
    font-weight: 3px;
    letter-spacing: 3px;
  }
  #s
  {
    margin-top: 10%;
    margin-left: 15%;
    line-height: 50px;
    color:hotpink;
    text-transform: uppercase;
  }
  .col-3
    {
      margin-inline: 5%;
      width:37%;
      heigh:70%;
      display:grid;
      float:right;
    }
    
  .nastya
  {
    margin-left: -7%;
    height:100%;
    float:right;
    width:100%;
  }
  .col-4
  {

    margin-left: 5%;
    float:left;
    display:grid;
    width:35%;
  }

    #MyS
    {

      letter-spacing: 3px;  
      line-height: 120%;
      max-height: 100%;
      max-width:100%;
      border-radius: 40px;
      text-align: center;
      background-color: #CBD3EC;
      font-family:'Roboto', sans-serif;
      font-size: 25px;

    }
    [class *="col-"]{
      floar:left;
      padding:15px;
    }

    div.second4
    {
      letter-spacing: 3px; 
      font-family:'Roboto', sans-serif;
      font-size: 23px;
      margin-left: -7%;
      vertical-align: top;
      float:left;
      display:inline-block;
      padding-left:0;
      margin-bottom: 80px;
      width:40%;
  }
  div.T
  {
    height: 100%;
    margin-top: -1%;
  }
  div.first4
  {
    font-family:'Roboto', sans-serif;
    letter-spacing: 3px; 
    font-size: 23px;
    margin-left: -9%;
    width:40%;
    display:inline-block;
    margin-bottom: 100px;
  }

  .container 
  {
    margin-left: 0px;
    border-radius: 50px;
    padding-left:0;
    max-width:85%;
    padding-right: 0; /* Full width */
    background-color: #ddd; /* Grey background */
  }
  p.worka{

    padding-block: 5%;
    margin-top: -5%;
    font-size: 60%;
    max-height:40%;
    max-width:80%;
    line-height: 300%;
  }
  div.work
  {
    position: relative;
    border-radius: 50px;
    background-color: #CBD3EC;
    letter-spacing: 4px;  
    line-height: 50%;
    height:90%;
    width:70%;
    border-radius: 40px;
    margin-right:10%;
    text-align: center;
    font-size: 20%;
    font-family:'Roboto', sans-serif;
    padding-block: 20px;
    border-width: 10px;
    margin-top: 15%;
    z-index: :1;
  }
  a.link_class
  {
    text-align: left;
    
    font-size: 30px;
  }
  h3{
    margin-left: 5%;
    width:100%;
  }
  a.new{
    max-lines: 1;
    font-size: 30px;
    padding-left: 5px;
    padding-right: 10px;
    border-radius: 10px;
    padding-block: 5px;
    background-color:#E4E7FD ;.opacity:0.1;
    color:#FEB845;;
    letter-spacing: 4px;  
    line-height: 30px;
    text-align: center;
    font-style: italic;
    font-family:'Roboto', sans-serif;
    text-shadow: 1px 1px 1px darkblue;
  }
  p.work2{
    height: 90%;
    letter-spacing: 2px;
    line-height: 50px;
        font-size: 160%;
  }
  p.work3{
    letter-spacing: 2px;
    line-height: 50px;
        font-size: 160%;
  }
  
  div.ww{

    text-align: center;
    margin-top: 5%;
    padding-top: 10%;
    background-color: #CBD3EC;
    letter-spacing: 2px;  
    line-height: 40%;
    height:40%;
    width:70%;
    border-radius: 40px;
    text-align: center;
    font-size: 160%;
    font-family:'Roboto', sans-serif;
    width:45%;
    padding-block: 15px;
    border-width: 10px;
    margin-left:20%;
  }
  

  h2#about
  {
    font-size: 70px;
  }
  h2
  {
    line-height: 40px;
    letter-spacing: 2px; 
    font-size: 500px;
    margin-left: 15%;
    margin-top: 7%;
  }

    h2.g{
      font-size: 70px;
      line-height: 40px;
    letter-spacing: 2px; 
     margin-left: 10%;
    margin-top: 10%;
    }

    div.cal-5
  {
    margin-left: 70%;
    margin-top: 0%;
    float:left;
    position: absolute;
    display: inline-block;
    max-height:60%;
    max-width:8%;
    z-index: 7;
  }
   div.cal-99
  {
    margin-left: 70%;
    margin-top: -7%;
    float:left;
    position: absolute;
    display: inline-block;
    max-height:60%;
    max-width:8%;
    z-index: 7;
  }
  div.cal-9
  {
    margin-top: 20%;
    float:left;
    position: absolute;
    display: inline-block;
    max-height:70%;
    max-width:10%;
    z-index: 7;
    
  }
  .cal-7{
    
    float:right;
    vertical-align: top;
    max-height:0%;
    max-width:0%;
  
    margin-left: 50%;
    z-index: 8;
    position: absolute;
  }
  div.cal-6{
    margin-left: 80%;
    margin-top: 40%;
    float:right;
    max-height:60%;
    max-width:8%;
    z-index: 9;
    position: absolute;
  }
  div.cal-6s{
    margin-left: 5%;
    margin-top: 10%;
    float:right;
    max-height:70%;
    max-width:10%;
    z-index: 9;
    position: absolute;
  }
  div.cal-5s{
    margin-left: 10%;
    margin-top: 40%;
    float:right;
    max-height:70%;
    max-width:10%;
    z-index: 9;
    position: absolute;
  }
  div.cal-8s{
    margin-left: 80%;
    margin-top: 20%;
    float:right;
    max-height:70%;
    max-width:10%;
    z-index: 9;
    position: absolute;
  }
  div.cal-9s{
    margin-left: 70%;
    margin-top: 1%;
    float:right;
    max-height:70%;
    max-width:10%;
    z-index: 9;
    position: absolute;
  }
  div.cal-8{
    margin-left: 80%;
    margin-top: 40%;
    float:right;
    max-height:70%;
    max-width:10%;
    z-index: 9;
    position: absolute;
  }
  .decor
  {
    max-width:100%;
    height:10%;
    z-index: 9;
  }
  div.carousel 
  {

    justify-content: center;
    margin-top: -5%;
    max-width:50%;
    height:100%;
    margin-bottom: -3%;
    position: relative;
    z-index: 1;
    margin-left: 5%;
  }
  div.work
  {
    position: relative;
    border-radius: 50px;
    background-color: #CBD3EC;
    letter-spacing: 2px;  
    line-height: 50px;
    height:50%;
    width:30%;
    border-radius: 40px;
    margin-right:10%;
    text-align: center;
    font-size: 150%;
    font-family:'Roboto', sans-serif;
    padding-block: 20px;
    border-width: 10px;
    margin-left: 65%;
    margin-top: -40%;
    z-index: :1;
  }
  div.work4
  {
    position: relative;
    border-radius: 50px;
    background-color: #CBD3EC;
    letter-spacing: 2px;  
    line-height: 50px;
    height:50%;
    width:30%;
    border-radius: 40px;
    margin-right:10%;
    text-align: center;
   font-size: 150%;
    font-family:'Roboto', sans-serif;
    padding-block: 20px;
    border-width: 10px;
    margin-left: 65%;
    margin-top: -40%;
    z-index: :1;
  }
  div.Star{
    margin-top: 10%;
    margin-bottom: 15%;
  }
  div.Secondcarousel
  {
    justify-content: center;
    margin-top: -5%;
    max-width:50%;
    height:100%;
    margin-bottom: -3%;
    position: relative;
    z-index: 1;
    margin-left: 5%;
  }

  div.a{
    text-align: left;
    border-radius: 40px;
    margin-top: 6px;
    margin-left: 10%;
    display:inline-block;
    margin-bottom: 50px;

}
a{

  text-align: left;
}

div.b{
    text-align: left;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 10%;
    display:inline-block;
    margin-bottom: 50px;
    
}
video{
  height:60%;
  width:60%;
  border-radius: 50px;
  margin-top: 50px;
  margin-left: 20%;
  padding-block: 1%;
}


}




div.T
{
  display: inline-block;
  vertical-align: top;
  margin-top: 2%;
  letter-spacing: 2px;  
  line-height: 140%;
  max-height: 180%;
  width:100%;
  border-radius: 40px;
  margin-right:10%;
  text-align: center;
  background-color: #CBD3EC;
  font-size:120%;
  font-family:'Roboto', sans-serif;
  margin-left: 4%;
  padding-block: 1%;
  text-align: center;
  margin-bottom: 5%;
  float:left;
}



div.cal-6s{
    margin-left: 5%;
    margin-top: 10%;
    float:right;
    max-height:70%;
    max-width:10%;
    z-index: 9;
    position: absolute;
  }
  div.cal-5s{
    margin-left: 10%;
    margin-top: 40%;
    float:right;
    max-height:70%;
    max-width:10%;
    z-index: 9;
    position: absolute;
  }
  div.cal-8s{
    margin-left: 80%;
    margin-top: 20%;
    float:right;
    max-height:70%;
    max-width:10%;
    z-index: 9;
    position: absolute;
  }
  div.cal-9s{
    margin-left: 70%;
    margin-top: 10%;
    float:right;
    max-height:70%;
    max-width:10%;
    z-index: 9;
    position: absolute;
  }
  div.cal-8{
    margin-left: 80%;
    margin-top: 130%;
    float:right;
    max-height:70%;
    max-width:10%;
    z-index: 9;
    position: absolute;
  }

/* Container for skill bars */
.container {
  margin-left: 10%;
  margin-right: 15%;
  display:inline-table;
  border-radius: 50px;
  width: 70%; /* Full width */
  background-color: #ddd; /* Grey background */
}
.NotDune{
  margin-bottom: 10%;
}
@keyframes load{
  from 
  {
    width: 0%
  }
}

@-webkit-keyframes load
{
  from 
  {
    width: 0%
  }
}
@-moz-keyframes load
{
  from 
  {
    width: 0%
  }
}

@-o-keyframes load{
  from {
    width: 0%
  }
}
.dashed{
  margin-top: 5%;
}

div.first4{
  max-width: 60%;
  padding-left:15%;

  margin-bottom: 40px;
}
div.second4{
  vertical-align: top;
  padding-left: 15%;
max-width: 60%;
  margin-bottom: 40px;
}
.skills {
  border-radius: 50px;
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}


.C {width: 70%; background-color: #0823A9;  } /* black */
.Cpp {width: 80%; background-color:#3E08A9;} /* yellow */
.JS {width: 65%; background-color: #8E08A9;} /* green */
.Python {width: 95%; background-color: #A90874;} /* blue */
.HTML {width: 70%; background-color: #0823A9 ;} /* black */
.CSS{width: 80%; background-color: #3E08A9;} /* yellow */
.Swift {width: 60%; background-color: #8E08A9;} /* green */
.OOP {width: 75%; background-color: #A90874;} /* Blue */



.work{
  border-radius: 50px;
  background-color: #CBD3EC;
  letter-spacing: 2px;  
  line-height: 40px;
  heigh:60%;
  width:70%;
  border-radius: 40px;
  margin-right:10%;
  text-align: center;
  font-size: 100%;
  font-family:'Roboto', sans-serif;
  padding-block: 20px;
  border-width: 10px;
  margin-left:15%;
  margin-top: -5%;
  z-index: :1;
}
.work4{
  border-radius: 50px;
  background-color: #CBD3EC;
  letter-spacing: 2px;  
  line-height: 40px;
  heigh:60%;
  width:70%;
  border-radius: 40px;
  margin-right:10%;
  text-align: center;
  font-size: 100%;
  font-family:'Roboto', sans-serif;
  padding-block: 20px;
  border-width: 10px;
  margin-left:15%;
  margin-top: -5%;
  z-index: :1;

}


.cal-5{

  margin-top: 0%;
  float:left;
  position: absolute;
  display: inline-block;
  heigth:100%;
  width:20%;
  z-index: 7;
  
}
.cal-99{

  margin-top: 0%;
  float:left;
  position: absolute;
  display: inline-block;
  heigth:100%;
  width:20%;
  z-index: 7;
  
}
.cal-7{

  float:right;
  vertical-align: top;
  heigth:50%;
  width:20%;
  margin-top:40%;
  margin-left: 60%;
  z-index: 8;
   position: absolute;
}

.cal-6{
  margin-left: 80%;
  margin-top: 50%;
  float:right;
  heigth:100%;
  width:20%;
  z-index: 9;
  position: absolute;
}
.cal-6s{
  margin-left: 80%;
  margin-top: 70%;
  float:right;
  heigth:100%;
  width:20%;
  z-index: 9;
  position: absolute;
}
.cal-8{
  margin-left: 80%;
  margin-top: 130%;
  float:right;
  heigth:100%;
  width:20%;
  z-index: 9;
  position: absolute;
}
.decor
{
  max-width:100%;
  height:10%;
  z-index: 9;
}
.carousel 
{
  justify-content: center;
  align-items: center;
  display: flex;
  width:100%;
  height:70%;
  margin-left: 0;
  padding-bottom: 0%;
  position: relative;
  z-index: 1;

    
}
.Secondcarousel
{
  justify-content: center;
  align-items: center;
  display: flex;
  width:100%;
  height:70%;
  margin-left: 0;
  padding-bottom: 0%;
  position: relative;
  z-index: 1;
}

ul.slides {

    width: 100%;
    height: 100%;
    border-radius: 50px;
    display: block;
    position: relative;
    height: 70%;
    width:90%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
   
}

.slides * {
  border-radius: 50px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
  position: relative;
    width: 100%;
    height: 100%;
    display: none; 
}


.slide-container { 
  vertical-align:middle;
  height:100%;
  width:100%;
  display: block; 
}

.slide-image {

    border-radius: 50px;
    vertical-align:middle;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}   

.slide-image img {


    border-radius: 50px;
    width: auto;
    width: 100%;
    height: 100%;
}

.carousel-controls {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: #fff;
}

.carousel-controls label {

    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label
{
    opacity: 0.5;
}

.carousel-controls label:hover 
{
    opacity: 1;
}

.carousel-controls .prev-slide 
{
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slid
 {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel-dots 
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}

.carousel-dots .carousel-dot 
{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    margin: 10px;
}

input:checked + .slide-container .slide-image 
{
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label 
{
     display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
  opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }



.a{
  border-radius: 40px;
  margin-top: 6px;
  margin-left: 10%;
  display:inline-block;
  margin-bottom: 50px;

}

.b{
  border-radius: 20px;
  margin-top: 50px;
  margin-left: 10%;
  display:inline-block;
  margin-bottom: 50px;
  
}


img{
  border-radius: 40px;
}
video{
  height:60%;
  width:60%;
  border-radius: 50px;
  margin-top: 50px;
  margin-left: 20%;
  padding-block: 1%;
}

.part3
{
  margin-top:100px;
}
h2{
  font-size: 40px;
  margin-top: :10%;
  margin-bottom: 5%;
  margin-left:5%;
}
h3{
  margin-top: 10%;
  margin-left:18%;
}
.link_class
{
  padding-left: 5px;
  padding-right: 10px;
  border-radius: 10px;
  padding-block: 30px;
  background-color:#E4E7FD ;.opacity:0.1;
  color:#FEB845;;
  letter-spacing: 2px;  
  line-height: 30px;
  text-align: center;
  font-size: 10%;
  font-style: italic;
  font-family:'Roboto', sans-serif;
  text-shadow: 1px 1px 1px darkblue;
}
.header1{
  margin-top:80px;
}
.dashed
{
  margin-top:80px;
  border-top:3px dashed #bbbbbb;
}
.i

{
  margin-left:30px;
  margin-top: 60px;
}
p{
  padding-left:7%;
  padding-right: 7%;
}
h5{

  line-height: 0px;
  padding-top:50px;
  vertical-align: bottom;
  font-family: 'BebasNeueRegular', sans-serif;
  text-align:right;
  color:#7794F9;
}
.last
{
  border-color:#FEB845;
  border-width: 10px;
  border-bottom-style:solid;
  margin-top:100px;

}
div.ww{

  border-radius: 50px;
  background-color: #CBD3EC;
  letter-spacing: 1px;  
  line-height: 40px;
  heigh:60%;
  width:70%;
  border-radius: 40px;
  margin-right:10%;
  text-align: center;
  font-size: 100%;
  font-family:'Roboto', sans-serif;
  padding-block: 20px;
  border-width: 10px;
  margin-left:15%;

  z-index: :1;



  }


